:root {
  --color-1: cornflowerblue;
  --color-2: #f9f9f9;
}

body {
  margin: 0;
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue";
  background: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background: var(--color-2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  border: none;
  font-size: 24px;
}
.login,
.logout {
  padding: 10px;
  margin: 10px 0;
  background: var(--color-1);
  border: none;
  color: var(--color-2);
  font-size: 24px;
}
.warning {
  color: red;
  font-size: 16px;
}
.details-box {
  background: var(--color-2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}
span {
  color: green;
  font-size: 24px;
}
